body{
    background-color: rgba(0, 0, 0, 0.10);
    color: #008000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    min-width: 600px;    
    padding: 0;
    margin: 0 auto; 
    height: 100%;
    background-image:linear-gradient(#CC9A2975, #BF713050), url("../images/scott-webb-light-grass.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header{    
    align-content: center;    
    height: 100px;
}
#h1_header{
    position: sticky;
    top: 0;
    background-image:radial-gradient(white, #00800000), url("../images/kelly-vohs-grass-footer.jpg");
    background-position: left;
    background-size: contain;
    border: double thin rgba(0, 128, 0, 1);
    border-bottom-right-radius: 25px;    
}
h1{
    align-items: center;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding-top: 0.5%;
    padding-bottom: 0;
    text-align: center;
    width: auto;
}
header>div{
    width: 40%;
    margin: auto 0 20px 0;
}
#search{
    color: #008000;
    border: solid thin #008000;
    border-radius: 22px;
    padding-right: -100px;
    width: 100%;
}
header>a{
    color: rgba(0, 128, 0, 1);
    box-sizing: border-box;
    padding: 0;
    margin: auto 0 5px 10px;
}
.icon{
    color: #008000;
    padding: 10px;
    margin: auto 0;
    border: solid thick #008000;
    border-radius: 25px;
}
.justify_space_between{
    justify-content: space-between;
}

nav{
    display: flex;
    align-content: center;
    margin: 0;
    padding: 0;
    width: auto;
}
#logo{    
    height: 75px;
    padding: 0;
    margin: 0; 
    display: flex;
    align-self: center;
    justify-content: space-around;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;     
    align-content: center;
    justify-content:flex-end;  
    width: 100%;
}
li{    
    padding: 5px;
    margin: auto 0 5px 0;
    width: auto;
    max-width: 30%;
}
header>nav>ul>li>a{
    display: flex;
    justify-content: center; 
    color: #00800000;   
}

h2{
    height: auto;
    padding: 5% auto;
    margin: 2%;
}
article{
    height: auto;
    width: auto;
    min-width: 350px;
    padding: 0 1% 0 1%;
    margin: 0 auto;
    border: double thin rgba(0, 128, 0, 1);
    border-radius: 25px;
       
}
article>p{    
    width: 375px;
    height: 375px;
    color: #00800000; 
}
.article_interieur{
    background-image: linear-gradient(#CC9A2900, #CC9A2900), url("../images/plantes_interieur.jpeg");
    background-size: cover;
    border-radius: 20px;
}
.article_exterieur{
    background-image: linear-gradient(#CC9A2900, #CC9A2900), url("../images/plantes_exterieur.jpeg");
    background-size: cover;
    border-radius: 20px;
}
.article_conseils{
    background-image: linear-gradient(#CC9A2900, #CC9A2900), url("../images/feey-monstera-big.jpg");
    background-size: cover;
    border-radius: 20px;
}
/*как сделать плавное проявление градиента
https://snipp.ru/html-css/translucent-gradient*/
.article_interieur:hover{
    color: #000000;
    background-image: linear-gradient(#CC9A2999, #CC9A2999), url("../images/plantes_interieur.jpeg");
    transition: all 2s;
}
.article_exterieur:hover{
    color: #000000;
    background-image: linear-gradient(#CC9A2999, #CC9A2999), url("../images/plantes_exterieur.jpeg");
    transition: all 2s;
}
.article_conseils:hover{
    color: #000000;
    background-image: linear-gradient(#CC9A2999, #CC9A2999), url("../images/feey-monstera-big.jpg");
    transition: all 2s;
}



.justified_indented{
    text-align: justify;
    text-indent: 15px;
}

main{
    width: 100%;
    border: double thin rgba(128, 128, 128, 0);
    border-radius: 25px;
    
}
main>div>section{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
section{
    width: 100%;
}
iframe{
    min-width: 400px;
    width: 30%;    
    height: auto;
    aspect-ratio: 16/9;
    border: #008000;
    border-radius: 10px;
    margin-bottom: 10px;
}
#in_article_video{
    width: auto;
    min-width: auto;
}
#video{
    min-width: 400px;
    flex-wrap: wrap;
    margin: 1.5% 0 0 0; 
    padding-bottom: 10px;
}
.box_hor{
    display: flex;
}
.box_vert{
    display: flex;
    flex-direction: column; 
}
footer>p{
    padding: 1%;
    margin: 1% auto;  
    width: auto;  
    font-weight: bold;
}
aside {
    padding: 1%; 
    flex-shrink: 1;
    width: 250px;
    height: auto;
    margin-right: 0;
    background-color: rgba(0, 128, 0, 0.05);
}
#aside_left{
    text-align: right;
    margin-right: 0;
    
    background-position: center;
    background-size: cover;
}
#aside_right{
    text-align: left;
    margin-right: 0;
    background-image: url("../images/feey-schefflera-big.jpg");
    background-position: center;
    background-size: cover;
    border: solid thin #008000;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.justify_space_evenly{
    justify-content: space-evenly;
}
.text_aside{    
    font-style: italic;
    font-size: 11px;    
}
/*header, h1, footer, article{
    background-color: rgba(0, 128, 0, 0.1);    

}*/
footer{
    background-image: url("../images/kelly-vohs-grass-footer.jpg");
    background-position: center;
    background-size: contain;
    border: double thin rgba(0, 128, 0, 1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;    
    height: 75px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 250px;
    margin: 0;
    padding-top: 5px;
}
main, aside, article{
    margin: 0.5%;
}
.icon:hover{
    color: white;
    background-color: rgb(00, 80, 00);
    border: solid thick transparent;
    border-radius: 25px;
    transition: color  0.8s ease-out, background-color  0.8s ease-out;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
.fa-brands{
    font-size: 25px;
    color: aliceblue;
}
.dropout_menu{
    width: 25%;
    min-width: 250px;
    position: fixed;
    top: 150px;
    height: 60px;
    margin: auto;
    padding: 0;
    border: solid thin #008000;
    background-color: antiquewhite;
}
